{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div>
  <div class="d-flex flex-row-reverse flex-wrap">
    <div class="col-12 col-sm-6 p-3 p-md-5 d-flex justify-content-center">
      <img src="{% static 'images/coffee-farmer.webp' %}" alt="Coffee farmer" class="logout-image">
    </div>
    <div class="col-12 col-sm-6 ps-5">
      <h1>{% trans "Sign Up" %}</h1>

      <p>{% blocktrans %}Already have an account? <a href="{{ login_url }}" class="btn btn-dark">Log in here</a>.
        {% endblocktrans %}</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-dark">{% trans "Sign up" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}