core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt

# macOS-specific files
.DS_Store
**/.DS_Store

# Stop changing my VSC theme please
vscode/

# Just update the ReadMe in Github, it's so much easier
README.md