{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row p-2">
    <a href="javascript:history.back()">&laquo; Back</a>
</div>
<div class="row">
    <div class="col-12 col-md-6"><!-- {#% if "" in coffee.image.url %#} -->
        <img class="card-img-top" src="{% static 'images/coffee-beans.webp' %}" alt="placeholder image">
        <!-- {#% else %#}
                    <img class="card-img-top" src=" {{ coffee.image.url }}"
                      alt="{{ coffee.coffee_name }}">
            {#% endif %#} -->
    </div>
    <div class="col-12 col-md-6">
        <div class="d-flex justify-content-between">
            <h1 class="m-0">{{coffee.coffee_name}}</h1>
            <div class="nav-buttons">
                {% if user.is_authenticated and user.id == coffee.vendor.id %}
                <button type="button" class="btn btn-dark" id="editBtn">Edit listing</button>
                <button type="button" class="btn btn-dark" id="deleteBtn">Delete listing</button>
                {% endif %}
            </div>
        </div>
        <h2 class="h6 m-0">by {{coffee.vendor.first_name}}</h2>
        <h2 class="h6 m-0">Bean: {{coffee.bean}}</h2>
        <h2 class="h6 m-0">Origin: {{coffee.origin}}</h2>
        <h2 class="h6 m-0">Taste profile: {{coffee.taste_profile}}</h2>
        <h2 class="h6 m-0">Roast: {{coffee.roast}}</h2>
        <p class="">{{coffee.description|safe}}</p>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete coffee?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your coffee?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-dark">Delete</a>
      </div>
    </div>
  </div>
</div>

<!-- CRUD URLS -->
<script defer src="{% static 'js/listing-edit-delete.js' %}">
</script>

{% endblock %}