

h1 {
    color: var(--heading-color);
}

.h6 {
    color: var(--tertiary-color);
    font-style: italic;
    font-weight: 300;
}

.card {
    background-color: var(--secondary-color);
    overflow: hidden;
}

.card-top {
    overflow: hidden;
}

.card-top a img {
    transition: transform 1s ease-out;
}

.card-top a img:hover {
    transform: scale(1.05);
}

.card-body {
    font-style: italic;
}

/* ------------------------------ FOOTER ------------------------------ */
.footer-image {
    height: 12vw;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}

footer {
    background-color: #000;
    color: #FFF;
    font-size: 1rem;
    z-index: 100;
    display: flex;
    gap: 30px;
}