

nav {
    background-color: var(--nav-color);
}

#topNav {
    /* box-shadow: inset  0 -8px 8px -8px #626262; */
    box-shadow:  0 0 8px #626262;
}
  
.navbar-brand img {
    height: 3rem;
    margin-left: 1rem;
}

#sidebar {
    background-color: var(--secondary-color);
}



h1 {
    color: var(--heading-color);
}

.h6 {
    color: var(--tertiary-color);
    font-style: italic;
    font-weight: 300;
}

.card {
    background-color: var(--secondary-color);
    overflow: hidden;
    /* display: flex;
    flex-direction: column; */
    height: 100%;
}

.card-top {
    overflow: hidden;
}

.card-top a img {
    transition: transform 1s ease-out;
}

.card-top a img:hover {
    transform: scale(1.05);
}

.card-body {
    font-style: italic;
}

.bean-icon {
    height: 1rem;
    display: inline;
    margin: -1px;
}

.alertparent {
    position: absolute;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    top: 4rem;
}

.alert {
    border: 2px solid var(--heading-color);
    width: fit-content;
    z-index: 1050;
    background-color: white;
    margin: 0;
}

.success {
    color: #34623F;
}

.error {
    color: #6F1F1F;
}


/* ------------------------------ Coffee detail ------------------------------ */

.vendorAbout {
    text-align: center;
    font-style: italic;
    color: var(--tertiary-color);
}


/* ------------------------------ Login/Logout/Signup ------------------------------ */
.logout-image {
    max-width: 100%;
    max-height: 550px;
    object-fit: contain;
}


/* ------------------------------ FOOTER ------------------------------ */
.footer-image {
    height: 10vw;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}

.subfooter {
    background-color: #000;
    color: #FFF;
    font-size: 1rem;
    z-index: 100;
    display: flex;
    gap: 15px;
}

.subfooter a {
    text-decoration: underline;
}