h1 {
    color: blue;
    font-style: italic;
}

#welcome-bg {
    position: fixed;
    bottom: -60%;
    min-width: 100%;
    min-height: 100%;
}

#videoOverlay {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
}

img {
    width: 80vw;
    max-width: 800px;
}

.btn {
    background-color: var(--highlight-color);
    box-shadow: inset  0 0 3px #626262;
}