h1 {
    color: blue;
    font-style: italic;
}

#welcome-bg {
    position: fixed;
    bottom: -60%;
    min-width: 100%;
    min-height: 100%;
}

#videoOverlay {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    min-width: 100%;
    min-height: 100%;
}

.btn {
    background-color: orange;
}