{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row m-0 ps-3">
    <h1 class="my-3">Browse Coffees</h1>
</div>
<div class="row m-0 px-3">
    {% for coffee in object_list %}
    <div class="col-12 col-md-3">
        <div class="card mb-3">
            <a href="{% url 'coffee_detail' coffee.product_ID %}">
            <!-- {#% if "" in coffee.image.url %#} -->
            <img class="card-img-top" src="{% static 'images/coffee-beans.webp' %}" alt="placeholder image">
            <!-- {#% else %#}
                        <img class="card-img-top" src=" {{ coffee.image.url }}"
                          alt="{{ coffee.coffee_name }}">
                {#% endif %#} -->
            </a>
            <div class="card-body text-center">
                <h2 class="h6 m-0"></h2><a href="{% url 'coffee_detail' coffee.product_ID %}">
                {{coffee.coffee_name}} | {{coffee.bean}}<br><br>
                    {{coffee.vendor.first_name}} | {{coffee.origin}}
                </a></h2>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}
</div>
<div class="row m-0 px-3">
    {% endif %}
    {% endfor %}
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}


{% endblock %}